<!--
	PHPUnit configuration for SilverStripe

	Requires PHPUnit 5+

	Usage:
	 - "vendor/bin/phpunit": Runs all tests in all folders
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/": Run all tests of the framework module
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem": Run all filesystem tests within framework
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem/FolderTest.php": Run a single test
	 - "vendor/bin/phpunit <dash><dash>coverage-html assets/": Generate coverage report (replace
	                                                           <dash> with "-", requires xdebug or phpdbg)

	More information:
	- http://www.phpunit.de/manual/current/en/textui.html
	- http://doc.silverstripe.org/framework/en/topics/testing/#configuration

	It is safe to remove this file for normal website operation.
-->
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>app/tests/php</directory>
    </testsuite>

    <php>
        <ini name="memory_limit" value="1G" />
        <ini name="date.timezone" value="Pacific/Auckland" />
        <!-- Flush on tests, to ensure test classes are auto loaded correctly -->
        <get name="flush" value="1" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/src</directory>
        </whitelist>
    </filter>
</phpunit>
